@import '../../../src//responsive.scss';

@font-face {
    font-family: 'zurichregular';
    src: url('../../../public/Fonts/ZURCH.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zurichbold';
    src: url('../../../public/Fonts/ZURCH.TTF');
    font-weight: normal;
    font-style: normal;
}

.bg_img_abt {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: flex;
    padding: 0 8%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../public/assets/about_BG.jpeg");
    background-position: center;
    background-size: cover;

    &-Heading {
        color: #ffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: zurichbold;
        text-align: center;
        font-size: 30px;

        h1 {
            font-size: 61px;
            @include respond-to(desktop-s) {
                font-size: 90px;
            }
        }

        p {
            font-size: 22px;
            font-family: zurichregular;
            padding: 2% 17%;
            @include respond-to(desktop-s) {
                font-size: 30px;
                padding: 2% 21%;
            }
            @include respond-to(tablet-mini) {
                margin-top: 9.5%;
                padding: 2% 0%;
                line-height: inherit;
            }

            @include respond-to(tablet) {
                margin-top: 7.5%;
                padding: 2% 0%;
                line-height: inherit;
            }
            @include respond-to(mobile-small) {
                margin-top: 7.5%;
                padding: 2% 0%;
                line-height: inherit;
            }
            &:last-child {
                margin-top: 1%;
            }
        }
    }

    &_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include respond-to(tablet-mini) {
            margin-top: 7%;
        }

        @include respond-to(mobile-small) {
            flex-direction: column;
        }
        .home_btn {
            background-color: #FF25C7;
            color: #ffff;
            border-radius: 10px;
            font-family: zurichbold;
            border: none;
            margin: 2% 6%;
            font-weight: 600;
            padding: 7px 53px;
            font-size: 25px;
            cursor: pointer;
            transition: transform .5s; /* Animation */

            &:hover {
                transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }
            
            @include respond-to(desktop-s) {
                margin: 2% 4%!important;
                font-size: 32px!important;
                padding: 10px 90px!important;
            }
            @include respond-to(tablet) {
                margin: 4% 6%;
            }
        
            @include respond-to(mobile-small) {
                margin: 5% 0%;
        
            }
        }
    }
}



.mission {
    width: 100%;
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    align-items: center;

    @include respond-to(tablet-mini) {
        padding: 5% 0;
    }

    @include respond-to(mobile-small) {
        padding: 5% 10%;
    }

    h1 {
        color: #ffff;
        font-family: zurichbold;
        font-size: 65px;
        margin-bottom: 10px;

        @include respond-to(desktop-s) {
            font-size: 80px;
            margin-bottom: 2%;
        }

        @include respond-to(tablet-mini) {
            font-size: 60px;
        }
        @include respond-to(mobile-small) {
            font-size: 46px;
        }
    }

    p {
        color: #ffff;
        font-family: zurichregular;
        text-align: center;
        font-size: 18px;
        @include respond-to(desktop-s) {
            font-size: 30px;
        }
    }
}

.vision {
    width: 100%;
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    background-color: #FF25C7;
    width: 100%;
    align-items: center;
    color: #ffff;

    @include respond-to(tablet-mini) {
        padding: 4% 0;
    }

    h1 {
        color: #ffff;
        font-family: zurichbold;
        font-size: 65px;
        margin-bottom: 10px;

        @include respond-to(desktop-s) {
            font-size: 80px;
            margin-bottom: 2%;
        }
        @include respond-to(tablet-mini) {
            font-size: 60px;
        }
        @include respond-to(mobile-small) {
            font-size: 48px;
        }
    }

    p {
        color: #ffff;
        font-family: zurichbold;
        text-align: center;
        font-size: 18px;
        @include respond-to(desktop-s) {
            font-size: 30px;
        }
        @include respond-to(tablet-mini) {
            width: 76%;
        }
    }
}
.body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values {
    width: 100%;
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    font-family: zurichbold;
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #ffff;

    @include respond-to(desktop-s) {
        padding: 4% 1%;
    }
    @include respond-to(tablet-mini) {
        padding: 4% 0;
    }

    h1 {
        color: #ffff;
        font-family: zurichbold;
        font-size: 65px;
        margin-bottom: 10px;
        @include respond-to(desktop-s) {
            font-size: 80px;
            margin-bottom: 2%;
        }
        @include respond-to(tablet-mini) {
            font-size: 60px;
        }
        @include respond-to(mobile-small) {
            font-size: 48px;
        }
    }

    &_div {
        height: auto;
        width: 24rem;
        text-align: center;
        align-items: center;
        padding: 26px 41px;

        @include respond-to(desktop-s) {
            width: 35rem;
        }
        @include respond-to(tablet) {
            padding: 26px 20px;
            width: 20rem;
        }

        @include respond-to(tablet-mini) {
            width: 21rem;
            padding: 26px 30px;
        }
    }

    &_heading {
        display: flex;
        justify-content: space-between;
    }

    .sideLogo {
        width: 9%;
        height: 8%;

        @include respond-to(desktop-s) {
            width: 11%;
        }
        @include respond-to(tablet) {
            width: 8%;
        }
    }

    &_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @include respond-to(tablet) {
            width: 94%;
        }

        @include respond-to(tablet-mini) {
            width: 88%;
        }
    }

    &-title {
        font-weight: 700;
        font-size: 32px;
        color: #ffff;
        text-align: start;
        margin-top: 2px;
        margin: 2px 0 0;

        @include respond-to(desktop-s) {
            font-size: 48px;

        }
        @include respond-to(tablet) {
            font-size: 29px;

        }
    }

    &-para {
        color: #ffff;
        text-align: initial;
        font-size: 18px;
        margin-top: 4%;
        @include respond-to(desktop-s) {
            font-size: 29px;

        }
    }
}

