@import '../../../src//responsive.scss';

.bg_img_team {
    width: 100%;
    height: 725px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8%;
    flex-direction: column;
    background-image: url("../../../public/assets/team_BG.png");
    background-position: center;
    background-size: cover;

    @include respond-to(desktop-s) {
        height: 100vh;
    }

    @include respond-to(tablet) {
        height: 556px;
    }

    @include respond-to(tablet-mini) {
        height: 536px;
    }

    &_heading {
        color: #ffff;
        font-family: zurichbold;
        text-align: center;
        font-size: 35px;

        @include respond-to(tablet-mini) {
            flex-direction: column;
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 24px;
        }

        h1 {
            font-size: 47px;

            @include respond-to(desktop-s) {
                font-size: 85px;
            }

            @include respond-to(tablet) {
                font-size: 47px;
            }
        }
        p {
            font-size: 22px;
            font-family: zurichregular;
            padding: 2% 17%;
            text-align: center;

            @include respond-to(desktop-s) {
                font-size: 30px;
                padding: 2% 21%;
            }
            @include respond-to(tablet-mini) {
                margin-top: 9.5%;
                line-height: 1.5rem;
            }

            @include respond-to(tablet) {
                margin-top: 7.5%;
                line-height: 1rem;
            }
            @include respond-to(mobile-small) {
                padding: 2% 0%;
                line-height: 1rem;
                text-align: center;
                line-height: inherit;
            }

            &:last-child {
                margin-top: 1%;
            }
        }
    }


    &_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
        width: 100%;

        @include respond-to(tablet-mini) {
            margin-top: 7%;
        }

        @include respond-to(mobile-small) {
            flex-direction: column;
        }

        .home_btn {
            background-color: #FF25C7;
            color: #ffff;
            border-radius: 10px;
            font-family: zurichregular;
            border: none;
            margin: 2% 6%;
            font-weight: 600;
            padding: 7px 53px;
            font-size: 25px;
            cursor: pointer;
            transition: transform .5s;     /* Animation */

            &:hover {
                transform: scale(1.2);    /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }

            @include respond-to(desktop-s) {
                margin: 2% 4%;
                font-size: 32px;
                padding: 10px 90px;
            }

            @include respond-to(tablet) {
                margin: 4% 6%;
            }

            @include respond-to(mobile-small) {
                width: 65%;
                padding: 7px 23px;
            }

            @include respond-to(mobile-xs) {
                width: 65%;
                padding: 7px 20px;
            }
        }
    }

}
.team {
    &_container {
        background-color: black;
        padding: 6% 0% 2% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        @include respond-to(desktop-s) {
            padding: 6% 3% 2%;
        }
        @include respond-to(mobile-small) {
            padding:  13% 4% 2% 4%;
        }
    }

    &_div {
        display: flex;
        flex-direction: column;
        padding: 0 20px 50px 20px;
        @include respond-to(desktop-s) {
            padding: 0 25px 50px;
        }
        @include respond-to(mobile-small) {
            padding: 0 9px 45px 9px;
            width: 50%;
        }
        .content {
            display: flex;
            flex-direction: column;
            color: #fff;
            align-items: flex-start;
            margin-top: 3%;
            .name {
                margin-bottom: 2%;
                @include respond-to(desktop-s) {
                    font-size: 45px;
                }
                @include respond-to(mobile-small) {
                    font-size: 20px;
                }
                @include respond-to(mobile-s) {
                    font-size: 18px;
                }
            }
            .title {
                font-size: 16px;
                @include respond-to(desktop-s) {
                    font-size: 25px;
                }
                @include respond-to(mobile-small) {
                    font-size: 13px;
                }
                @include respond-to(mobile-s) {
                    font-size: 12px;
                }
            }
        }
    }

    &_img {
        width: 264px;
        cursor: pointer;
        transition: transform .5s;     /* Animation */

        &:hover {
            transform: scale(0.9);    /* (90% zoom out - Note: if the zoom is too large, it will go outside of the viewport) */
        }
        @include respond-to(desktop-s) {
            width: 374px;        }
        @include respond-to(mobile-small) {
            width: 97%;
        }
    }

}